<p>Please enter a stock Ticker in your portfolio</p>
<input type="text" name="ticker" placeholder="Ticker" #ticker>
<p>Please enter a quantity</p>
<input type="text" name="qty" placeholder="amount" #qty>
<button type="button" (click) = "addToPortfolio(ticker.value,qty.value)">Submit</button>  

<div>
  <ul>
    <li *ngFor="let stock of stockArray; index as i; trackBy: trackByFn">
        {{i + 1}}: {{stock.Ticker}} - {{stock.Quantity}} 
        <!-- <input [(ngModel)]="stock.Ticker">  -->
        <button (click)="remove(stock.stockId)">Remove</button>       
    </li>
 </ul> 
<p>Testing</p>
</div>