<div class = "container">
    <h1>Stock Research</h1>
    <div style="display:flex; flex-direction: row; justify-content: center;">
        <div style="margin: 10px;">
            <img src = "assets\images\SP.jpg" width="100" height="50">
            <h4> SPY : {{this.spy}}</h4>
        </div>
        <div style="margin: 10px;">
            <img src = "assets\images\DowLogo.png" width="100" height="50">
            <h4> DOW : {{this.dow}}</h4>
        </div>
        <div style="margin: 10px;">
            <img src = "assets\images\NASDAQ.png" width="100" height="50">
            <h4> NASDAQ : {{this.nasdaq}}</h4>
        </div>
    </div>
    
    <div style="margin: 15px;" class="centered">
        <div class="columns">
            <div>
                <div class="form-floating mb-3 input-group-lg">
                    <input class="form-control" type="text" id="tickerA" name="tickerB" placeholder="Text" #ticker >
                    <label for="tickerA">Ticker</label>
                </div>

                <div class = 'd-grid gap-2 col-3'>
                    <button class="btn btn-primary" type="button" (click)="getData(ticker.value)">Search Data</button>
                    <button class="btn btn-primary" type="button" (click)="getPrice(ticker.value)">Search Price</button>
                    <button class="btn btn-primary" type="button" (click)="getFinancials(ticker.value)">Search Financials</button>
                    <button class="btn btn-primary" type="button" (click)="getEarnings(ticker.value)">Search Earnings</button>
                    <!-- <button class="btn btn-primary" type="button" (click)="showToastr('testing')">Show Toast</button> -->
                    <button class="btn btn-dark" type="button" (click)="sendAll(ticker.value)">Send All</button>
                </div>
            </div>

            <div>
                <input class="form-control" type="date" id="from" #fromInput>
                <input class="form-control" type="date" id="thru" #thruInput>
                <button class="btn btn-primary" type="button" (click)="getPriceCustomDate(ticker.value,fromInput.value,thruInput.value)">Search Price Custom</button>
            </div>
        </div>
    </div>

    <div>
        <h4> Stock : {{model.Ticker}}</h4>
    </div>

     <div *ngIf = 'chartModel.close'>
        <button class="btn btn-secondary" type="button" (click)="buildCharts()">Build Chart</button>
        <button class="btn btn-secondary" type="button" (click)="clearCharts()">Clear Chart</button>
        <div *ngIf = showChart>
        <app-line-chart></app-line-chart>
     </div>
 </div>

 <!-- <div *ngIf = 'model.response'>
    <h1>Response for Testing</h1>
    <p>{{model.response}}</p>
 </div> -->


<div style="margin: 15px;">
 <!-- Values to display if get Info is searched-->
 <div *ngIf="model.longBusinessSummary">
    <h1>Summary</h1>
    <p>{{model.longBusinessSummary}}</p>
    <h1>Website:</h1>
    <p>{{model.website}}</p>
</div>

<div *ngIf="model.longBusinessSummary">
    <h2>targetMedianPrice:</h2>
    <p>{{model.targetMedianPrice}}</p>
    <h2>targetMeanPrice:</h2>
    <p>{{model.targetMeanPrice}}</p>
    <h2>targetHighPrice:</h2>
    <p>{{model.targetHighPrice}}</p>
    <h2>targetLowPrice:</h2>
    <p>{{model.targetLowPrice}}</p>
</div>

<!-- Values to display if getPrice is used-->
<div *ngIf="model.low">
    <h2>Volume:</h2>
    <p>{{model.volume}}</p>
    <h2>low:</h2>
    <p>{{model.low}}</p>
    <h2>high:</h2>
    <p>{{model.high}}</p>
</div>
</div>